header{
    background-color: #171a21;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    margin: 0;
    border-radius: 4%;
}

.headerClaro{
    background-color: #A9A9A9;
    color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    margin: 0;
    border-radius: 4%;
}

.subheader.headerClaro {
    background-color: #808080;
    color: black;
}


body{
    margin: 0;
    background-color: #1b2838;
    color: #e6edf3;
    font-size: 1.2em;
}

.bodyClaro{
    margin: 0;
    background-color: #D3D3D3;
    color: black;
    font-size: 1.2em;
}

.banner{
    text-align: center;
    padding: 20px 30px;
}

img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
}

.cards{
    padding: 40px 40px;
    text-align: center;
}

.card{
    background-color: #171a21;  
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    margin: 4px 14px auto;
    padding: 45px;
    vertical-align: top;
    align-content: center;
}
.cardClaro{
    background-color: #778899;  
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    margin: 4px 14px auto;
    padding: 45px;
    vertical-align: top;
    align-content: center;
}

.cards :hover{
    transform: scale(1.02);
}

.botao{
    width: 95px;
    height: 35px;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

.botaoV{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    right: 50px;
    position: absolute;
    top: 50px;
}

.subheader{
    background-color: #171a21;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 55px;
    margin: 0;
    border-radius: 4%;
}

.HKnome{
    width: 500px;
    height: 200px;
}
.HKgameplay{
    width: 500px;
    height: 300px;
}
.eu{
    width: 1100px;
    height: 200px;
}

.HKSnome{
    width: 500px;
    height: 200px;
}
.HKSgameplay{
    width: 500px;
    height: 300px;
}


.celesteNome{
    width: 300px;
    height: 200px;
}
.celesteGameplay{
    width:525px;
    height: 300px;
}


.portalNome{
    width: 600px;
    height: 200px;
}
.portalGameplay{
    width: 500px;
    height: 300px;
}

.nomeJogo{
    transition: transform 0.3s ease;
}

.nomeJogo:hover{
    transform: scale(1.04);
}


.tema{
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.temaClaro {
    content: url("Imagens/escuro.png");
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.tema:hover{
    transform: scale(1.05);
}

.temaJogo{
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.temaClaroJogo {
    content: url("Imagens/escuro.png");
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.temaJogo:hover{
    transform: scale(1.05);
}
