header{
    background-color: #171a21;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    margin: 0;
    border-radius: 4%;
}


body{
    margin: 0;
    background-color: #1b2838;
    color: #e6edf3;
    font-size: 1.2em;
    
}

.banner{
    text-align: center;
    padding: 20px 30px;
}

img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
}

.cards{
    padding: 40px 40px;
    text-align: center;
}

.card{
    background-color: #171a21;  
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    margin: 4px 14px auto;
    padding: 45px;
    vertical-align: top;
    align-content: center;
}

.cards :hover{
    transform: scale(1.02);
}

.botao{
    width: 95px;
    height: 35px;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

.botaoV{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    right: 50px;
    position: fixed;
}

.subheader{
    background-color: #171a21;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 55px;
    margin: 0;
    border-radius: 4%;
}

.HKnome{
    width: 500px;
    height: 200px;
}


.HKSnome{
    width: 500px;
    height: 200px;
}


.celesteNome{
    width: 300px;
    height: 200px;
}


.portalNome{
    width: 600px;
    height: 200px;
}

.nomeJogo{
    transition: transform 0.3s ease;
}

.nomeJogo:hover{
    transform: scale(1.04);
}


